$red: #FF4136;
$black: #000;
$white: #f7f7f5;
$grey: #3e4648;
$lime: #01FF70;

/* Fonts */

$nordic: 'nordic_alternativeregular', 'relaway', sans-serif;

$osBold: 'open_sansbold', 'relaway', sans-serif;
$osItalic: 'open_sansitalic', 'relaway', sans-serif;
$osLight: 'open_sanslight', 'relaway', sans-serif;
$osRegular: 'open_sansregular', 'relaway', sans-serif;

$nunitoBold: 'nunito_sansbold', 'relaway', sans-serif;
$nunitoSemiBold: 'nunito_sanssemibold', 'relaway', sans-serif;
$nunitoExtraLight: 'nunito_sansextralight', 'relaway', sans-serif;
$nunitoLight: 'nunito_sanslight', 'relaway', sans-serif;
$nunitoRegular: 'nunito_sansregular', 'relaway', sans-serif;